#cadeira_gamer {
  width: 100%;
  height: 500px;
  margin: auto;
}

#top_gamers {
  font-size: 20px;
}

body {
  background-color: yellowgreen;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 14pt;
}

ul {
  line-height: 20pt;
}

#red_text {
  color: red;
  font-size: 25px;
}

a:visited {
  color: green;
}
a:hover {
  color: blue;
}

#image_resize {
  width: 700px;
  height: auto;
  margin: auto;
}
