@import url("http://fonts.cdnfonts.com/css/among-us");

#cadeira_gamer {
  width: 100%;
  height: 500px;
  margin: auto;
}

h1 {
  font-size: 50px;
}
#top_gamers {
  font-size: 20px;
}

p {
  font-size: 20px;
}

body {
  background-color: yellowgreen;
  font-family: "Among Us", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14pt;
}

.container {
  width: 100%;
  border-width: 4px;
  border-style: double;
  margin-bottom: 20px;
  overflow: auto;
}

#amarante_pics {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100px;
  flex-grow: 500px;
  justify-content: space-between;
  border-style: groove;
  border-width: 4px;
  width: 80%;
  margin: auto;
}

#text {
  border-width: 5px;
  border-style: dotted;
  float: left;
  width: 45%;
  overflow: hidden;
}

#right_float_figure {
  border-width: 5px;
  border-style: dashed;
  width: 50%;
  float: right;
  overflow: auto;
  text-align: center;
  font-style: italic;
  margin-left: 10px;
  text-transform: italic;
}

ul {
  line-height: 20pt;
}

#red_text {
  color: red;
  font-size: 25px;
}
a {
  text-decoration: none;
}

a:visited {
  color: green;
}
a:hover {
  color: blue;
}

#image_resize {
  width: 700px;
  height: 400px;
  margin: 15px;
}

figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0px;
  margin-right: 40px;
}

.navbar {
  display: table; /* Allow the centering to work */
  margin: 0 auto;
}

ul#horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
ul#horizontal-list li {
  display: inline;
  font-size: 40px;
  margin: 20px;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
  color: red;
}

ul#vertical-list li {
  display: block;
  font-size: 40px;
  margin: 20px;
  border-style: solid;
  padding: 5px;
  border-width: 1px;
  color: red;
}
