#cadeira_gamer {
  width: 100%;
  height: 500px;
  margin: auto;
}

#top_gamers {
  font-size: 20px;
}

body {
  background-color: wheat;
}

#red_text {
  color: red;
  font-size: 25px;
}

a {
  color: green;
}

a:visited {
  color: red;
}
a:hover {
  color: blue;
}
